<h1 mat-dialog-title>Reset User Password</h1>
<div mat-dialog-content [ngStyle]="{'overflow': 'visible'}">
  <form fxFlex="100" fxLayout="column"
      fxLayoutGap="16px"
      [formGroup]="form">
    <h3>{{'userName' | translate}}: {{data.name}}</h3>
    <mat-form-field>
      <mat-label>{{'newPwd' | translate}}</mat-label>
      <input formControlName="pwd" matInput placeholder="Password" maxlength="64"/>
    </mat-form-field>
    <button mat-stroked-button color="default" (click)="generate()">{{'generatePassword' | translate}}</button>
    <mat-checkbox formControlName="sendEmail">{{'sendEmailtoUser' | translate}}</mat-checkbox>
    <!-- <mat-checkbox formControlName="forceChange">Force User to change Password on next login</mat-checkbox> -->
  </form>
</div>
<div mat-dialog-actions>
  <button mat-stroked-button color="default" (click)="cancel()">{{'cancel' | translate}}</button>
  <button mat-stroked-button color="primary" (click)="save()" [disabled]="form.invalid">{{'reset' | translate}}</button>
</div>
