<div class="app-footer">
    <!-- <div class="a">

        <div fxLayout="row"  fxFlex="90%" fxFlex.lt-md="100%"  >
            <div fxFlex="25" class="sec1" fxFlex.xs="100">
                <div fxLayout="column">
                    <div class="footer-card" fxLayout="column">
                        <div class="title">COMPANY</div>
                        <span>About Us</span>
                        <span>Career</span>
                        <span>Awards and Accreditation</span>
                    </div>
                    <div class="footer-card" fxLayout="column">
                        <div class="title">SERVICES</div>
                        <span>Int'l Freight Forwarding</span>
                        <span>Distribution and Logistics Services</span>
                    </div>
                    <div>
                        <div class="title">RELEASES</div>
                    </div>
                </div>
            </div>
            <div fxFlex="30" class="sec2">
                <div fxLayout="column">
                    <div class="footer-card" fxLayout="column">
                        <div class="title">INVESTOR RELATIONS</div>
                        <span>Corporate Information</span>
                        <span>Announcements and Circulars</span>
                        <span>Financial Reports</span>
                        <span>Key Figures</span>
                        <span> IR Calendar</span>
                        <span> Prospectus</span>
                        <span> Corporate Governance</span>
                        <span>Email Alerts </span>
                        <span> IR Enquiries</span>
                    </div>
                    <div class="footer-card">
                        <div class="title">CONTACT US</div>
                    </div>

                </div>
            </div>
            <div fxFlex="45" class="sec3" fxFlex.xs="100">
                <div fxLayout="column">
                    <div class="footer-card" fxLayout="column">
                        <span>Address：</span>
                        <span>13/F, Park ...</span>
                        <div> <span>Phone:</span> <span> +852-2754-0638</span> </div>
                        <div> <span>Fax:</span> <span> +852-2754-2234</span> </div>
                        <div> <span>Email:</span> <span> info@cnlogistics.com.hk</span> </div>
                    </div>
                    <div class="footer-card">
                        <div class="title">Email ALERTS</div>
                        <div class="footer-input">
                            <input type="text" placeholder="Please enter your email address">
                            <button mat-button type="submit">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div class="app-copyright">
        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="center center">
            <span>
                {{'copyRight' | translate}}
            </span>
            <!-- <span class="mx-10" fxShow.gt-sm="true" fxHide>|</span>
            <a>{{'standardTradingConditions' | translate }}</a>
            <span class="mx-10" fxShow.gt-sm="true" fxHide>|</span>
            <a>{{'termsofUse' | translate}}</a> -->
        </div>
        <!-- <div fxLayout="row" fxLayoutAlign="center center">
            <div class="social-icons">
                <a title="Facebook" target="_blank"><img src="/assets/icons/fb.png"></a>
                <a title="Linkedin" target="_blank"><img class="" src="/assets/icons/linkedin.png"></a>
                <a title="Instagram" target="_blank"><img src="/assets/icons/ig.png"></a>
                <a><img src="/assets/icons/wechat.png"></a>
            </div>
        </div> -->
    </div>
</div>
