<mat-card fxFlex="100" fxLayout="column">
  <mat-card-header>
    <mat-card-title>{{'managementDebitNotes' | translate}}</mat-card-title>
    <mat-card-subtitle>{{data?.systemRef}}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content fxFlex="100" fxLayout="column">
    <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between" *ngFor="let item of data?.amounts">
      <mat-form-field fxFlex="32">
        <mat-label>{{'debitNoteNumber' | translate}}</mat-label>
        <input type="text" matInput [(ngModel)]="item.debitNoteNumber" (change)="valueChanged(item)"/>
      </mat-form-field>
      <mat-form-field fxFlex="32">
        <mat-label>{{'currency' | translate}}</mat-label>
        <input type="text" matInput [(ngModel)]="item.currency" (change)="valueChanged(item)"/>
      </mat-form-field>
      <mat-form-field fxFlex="32">
        <mat-label>{{'amount' | translate}}</mat-label>
        <input type="number" matInput [(ngModel)]="item.amount" (change)="valueChanged(item)"/>
      </mat-form-field>
    </div>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button (click)="close()">{{'cancel' | translate}}</button>
    <button mat-button (click)="close(true)">{{'save' | translate}}</button>
  </mat-card-actions>
</mat-card>
